<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial=scale=1.0">
        <title>Edit Data Pengguna</title>
    </head>
    <body>
        <h2>Edit Data Pengguna</h2>
        <form action="/update/<%= User.id%" method="post">
            <label for="nama">nama:</label>
            <input type="text" id="nama" name="nama" required value="<%= User.nama %>"><br>
            <label for="email">email:</label>
            <input type="email" name="email" id="email" value="<%= User.email %>"><br>
            <label for="phone">Telepon:</label>
            <input type="text" name="phone" id="phone" value="<%= User.phone %>" ><br>
            <button type="submit">Simpan</button>
        </form>
    </body>
</html>